<h1 class="title">Fetching data From API</h1>
<div class="slider">
  <mat-slide-toggle [(ngModel)]="isDetailsVisible" >Toogle me for data</mat-slide-toggle>
</div>

<div class="user-details" *ngIf="isDetailsVisible">
  <ul>
    <h1>User Name</h1>
    <li *ngFor="let user of users">
      {{ user.name }}
    </li>
  </ul>
  <ul>
    <h1>User Email</h1>
    <li *ngFor="let user of users">
      {{ user.email }}
    </li>
  </ul>
  <ul>
    <h1>User City</h1>
    <li *ngFor="let user of users">
      {{ user.address.city }}
    </li>
  </ul>
</div>
